<% content_for :title do %>
  <%= @source.title + " - New Download" %>
<% end %>

<% content_for :body_class do %>admin<% end %>

<% content_for :tabs do %>
  <%= render 'admin/tabs' %>
<% end %>

<div id="ltColumn">

<% form_for :download, @download, :url => admin_source_downloads_path(@source.id), :html => {:method => :post} do |f| -%>
  <%= show_flash_message %>
  <ul>
    <%= render 'fields', :object => f %>
    <li>
      <button class="submit" id="user_submit" type="submit" value="Submit" name="commit">
        <span>Submit</span>
      </button>
    </li>
  </ul>
<% end -%>
</div>

<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <div class="module">
      <h3>Other Downloads</h3>
      <ul>
        <% @source.downloads.each do |download| -%>
          <% if extract_id(download.href) != @download.id -%>
          <li><%= link_to download.format.upcase, edit_admin_source_download_path(@source.slug,extract_id(download.href)) %></li>
          <% end -%>
        <% end -%>
        <li><%= link_to "+ Add New +", new_admin_source_download_path(@source.slug) %></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="module">
      <h3>Public Pages</h3>
      <ul>
        <li><%= link_to "Data Details", source_path(@source.slug) %></li>
        <li><%= link_to "Community Docs", source_docs_path(@source.slug) %></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="module">
      <h3>Quick Links</h3>
      <ul>
        <li><%= link_to "&laquo; Back to Source", edit_admin_source_path(@source.slug) %></li>
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>