<% content_for :body_class do %>blog<% end %>

<% content_for :title do %>
  Blog
<% end %>


<% content_for :body_class do %>home<% end %>

<div id="ltColumn">
<% @entries.each do |entry| %>
  <div class="blog_post">
    <span class="postMeta">
      <span class="postmonth"><%= entry.published.to_s(:month) %></span>
      <span class="postday"><%= entry.published.to_s(:day) %></span>
    </span>
    <h3><%= entry.title %></h3>
    <div id="blog_content">
      <%= entry.summary %>
      <a class="allLink" href="<%= entry.url %>#comments">Comments &raquo;</a>
    </div>
    <div class="clear"></div>
  </div>
<% end -%>
</div> 
<div id="rtColumnWrapper">
  <div id="rtColumn">

  </div>
</div>