<% content_for :title do %>
  <% if current_user -%>
  Favorites
  <% else -%>
  Welcome to the National Data Catalog
  <% end -%>
<% end %>

<% content_for :body_class do %>home<% end %>

<%= show_flash_message %>

<div id="ltColumn">
  <table>
    <thead>
      <tr id="titles">
        <th class="left">Data Source</th>
        <th class="center">Rating</th>
        <th class="right">Notes</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.api_user.favorites.each do |source| -%>
      <tr class="<%= cycle 'even', 'odd' %>">
        <td class="left dataContent">
          <%= link_to source.title, source_path(source.slug), :class => "dataName" %>
          <p class="clear"><%= truncate(source.description, 140) %></p>
        </td>
        <td class="center">
          <%= render 'shared/star_rating', :rating => (source.rating_stats.average ? source.rating_stats.average.round : nil) %>
        </td>
        <td class="right notes">
        <% unless source.user_note.nil? -%>
          <%= link_to "Notes", source_path(source.slug, :anchor => "notes"), :class => "notesAvailable", :title => "Notes" %>
        <% end -%>
        </td>
      </tr>
      <% end -%>
    </tbody>
  </table>
</div> 
<div id="rtColumnWrapper">
  <div id="rtColumn">
    
    <div id="recentComments" class="module">
      <h3>Recent Comments</h3>
      <% if @recent_comments.length > 0 -%>
      <dl>
        <% @recent_comments.take(5) do |comment| -%>
        <dt><%= link_to comment.source_title, source_path(comment.source_slug) %></dt>
        <dd><%= truncate(comment.text, :length => 100) %></dd>
        <dd class="commentDate">Posted on <%= comment.created_at.to_s(:mdy_slashed) %></dd>
        <% end -%>
      </dl>
      <% else -%>
      <p>No comments yet...</p>
      <% end -%>
      <!--<a class="allLink" href="#">View All »</a>-->
    </div>  
    
    <div id="yourRatings" class="module">
      <h3>Recently Rated</h3>
      <ul>
        <% @recent_ratings[0..9].each do |rating| -%>
        <li><%= link_to rating.source_title, source_path(rating.source_slug) %></li>
        <% end -%>
      </ul>    
    </div>    
  </div>  
</div> 

<div class="clear"></div> 
</div>