<% content_for :body_class do %>detail lgHeader<% end %>

<% content_for :title do %>
  <%= @source.title %>
<% end %>

<% content_for :tabs do %>
<div id="content_tabs">
  <ul>
    <li id="nav_dataDetails"><a class="buttonLink active" href="#">Data Details</a></li>
    <li id="nav_sitesUseData"><a class="buttonLink" href="#">Sites That Use This Data</a></li>
  </ul>
</div>
<a id="btn_reportProblem" class="buttonLink" href="#">Report a Problem</a>
<% end %>

<div id="ltColumn">
  <p><%= @source.custom[2].value %></p>
  <div class="module">
    <div id="dataDetails">
      <div id="metaDetails">
        <dl>
          <dt>Source</dt>
          <dd><a href="#">Data.gov</a></dd>

          <dt>Agency</dt>
          <dd><a href="#"><%= @source.custom[0].value %></a></dd>

          <dt>Category</dt>
          <dd><a href="#"><%= @source.custom[3].value %></a></dd>

          <dt>Frequency</dt>
          <dd><%= @source.frequency%></dd>
        </dl>
        <a class="allLink" id="additionalData_information" href="#">View Additional Information</a>
      </div>

      <div id="ratingBox">
        <div class="stars" id="overallRating">
          <h3 class="textReplace withTip" id="header_overall">Overall Rating</h3>
          <ul class="star-rating ratedFourStars">
            <li class="oneStar">1</li>
            <li class="twoStars">2</li>
            <li class="threeStars">3</li>
            <li class="fourStars">4</li>
            <li class="fiveStars">5</li>
          </ul>
          <div class="tip">(averaged from 20 votes)</div>
        </div>
        <div class="stars" id="yourRating">
          <h3 class="textReplace" id="header_your">Your Rating</h3>
          <ul class="star-rating star-ratingActive">
            <li title="Terrible" class="oneStar">
              <a href="#">1</a>
            </li>
            <li title="Bad" class="twoStars">
              <a href="#">2</a>
            </li>
            <li title="Ok" class="threeStars">
              <a href="#">3</a>
            </li>
            <li title="Good" class="fourStars">
              <a href="#">4</a>
            </li>
            <li title="Great" class="fiveStars">
              <a href="#">5</a>
            </li>
          </ul>
        </div>
      </div> 
      <div id="favoriteData">
        <a class="buttonLink" href="#">Favorite This Data Set</a>
        <div id="favoriteData_dropdown">
          <ul>
            <li>
              <a class="dashboardNav" href="#">Favorited Data</a>
              <span>5</span>
            </li>
            <li>
              <a class="dashboardNav folder" href="#">EPA</a>
              <span>5</span>
            </li>    
            <li>
              <a class="dashboardNav folder" href="#">TRI Reporting</a>
              <span>50</span>
            </li>
            <li class="divider"></li>
            <li id="manageFolders">
              <a class="dashboardNav" href="#">Manage Folders</a>
              <div class="clear"></div>
            </li>
          </ul> 
        </div>    
      </div> 
      <div class="clear"></div> 
    </div> 

    <div id="downloadFormats">
      <h3>Available Formats for Download</h3>
      <ul>
        <li>
          <a href="#">XML</a>
          <span>(15MB)</span>
        </li>
        <li>
          <a href="#">CSV</a>
          <span>(15MB)</span>
        </li>
        <li>
          <a href="#">XLS</a>
          <span>(15MB)</span>
        </li>
      </ul>   
      <div class="clear"></div> 
    </div> 
  </div>
  <div class="module">
    <h3>Example of Data</h3>

  </div>    	           
</div> 
<div id="rtColumnWrapper">
  <div id="rtColumn">
    <div class="module">
      <h3 class="withTip">My Notes on This Data</h3>
      <p class="tip">Want to privately remember this data set or something about it, type it below.</p>
      <form action="#" method="post">
        <textarea id="id_description" class="textarea" rows="5" cols="32" name="description"></textarea>
        <button class="saveBtn" type="submit">
          <span>Save Notes</span>
        </button>
      </form>    
    </div>
<!--<div id="tags" class="module">
      <h3>Tags</h3>
      <ul>
        <li><a href="#">Chemical Pollution</a></li>
        <li><a href="#">EPA</a></li>
        <li><a href="#">TRI Reporting</a></li>
      </ul>  
      <a class="allLink" id="addTagLink" href="#">Add a Tag</a>
      <div id="addTag">
        <input id="addTagInput" type="text" name="word" />
        <button class="addTag" type="submit">
          <span>Add</span>
        </button>
      </div>
    </div>-->
    <div id="similarSets" class="module">
      <h3>Similar Data Sets</h3>
      <ul>
        <li><a href="#">2005 Toxics Release Inventory data for Guam</a></li>
        <li><a href="#">2005 Toxics Release Inventory data for Puerto Rico</a></li>
        <li><a href="#">2005 Toxics Release Inventory data for the District of Columbia</a></li>
      </ul>    
    </div>    
  </div> 
</div>
<div class="clear"></div> 
<div id="commentBox">
  <h3 id="discussionTitle">Discussion</h3>
  <span id="numberComments">18</span>
  <div class="clear"></div>
  <h4>Most Useful Comments</h4>
  <ul id="usefulComments">
    <li class="left">
      <div class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut bibendum ante. Morbi risus elit, porta sit ametmattis fermentum, fringilla id augue. Donec pretium venenatis lorem, quis sagittis lacus elementum sit amet. Aenean euismod placerat tortor vitae luctus.</div>
      <div class="rating">
        <form action="#" method="post">
          <button title="Vote This Comment Up" class="thumbUp" type="submit">
            <span>Vote This Comment Up</span>
          </button>    
        </form>    
        <span class="ratingNumber">10</span>
      </div>    
      <span class="commentDate">Jan. 14, 2009</span>
      <span class="author">by <a href="#">james1251</a></span>
    </li>
    <li class="right">
      <div class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut bibendum ante. Morbi risus elit, porta sit ametmattis fermentum, fringilla id augue. Donec pretium venenatis lorem, quis sagittis lacus elementum sit amet. Aenean euismod placerat tortor vitae luctus.</div>
      <div class="rating">
        <form action="#" method="post">
          <button title="Vote This Comment Up" class="thumbUp" type="submit">
            <span>Vote This Comment Up</span>
          </button>    
        </form>    
        <span class="ratingNumber">10</span>
      </div>    
      <span class="commentDate">Jan. 14, 2009</span>
      <span class="author">by <a href="#">james1251</a></span>
    </li>
    <li class="clear"></li>
  </ul>	
  <div class="clear"></div> 
  <div id="threadedComments">
    <ul>
      <li class="odd reply">
        <div class="commentMetaData">
          <a class="showRepliesArrow" href="#">Show Replies</a>
          <img class="userAvatar" alt="userAvatar" src="images/avatar.jpg"/>
          <span class="commentDate">Jan. 14, 2009</span>
          <span class="author">by <a href="#">james1251</a></span>
        </div>
        <div class="rating">
          <form action="#" method="post">
            <button title="Vote This Comment Up" class="thumbUp" type="submit">
              <span>Vote This Comment Up</span>
            </button>    
          </form>  
          <span class="ratingNumber">10</span>  
        </div>
        <div class="clear"></div>
        <div class="commentContent">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut bibendum ante. Morbi risus elit, porta sit ametmattis fermentum, fringilla id augue.</p>
        </div>	
        <div class="commentFooter">
          <a href="#">Reply to This Comment</a>
          <a href="#">View 1 Reply</a>
        </div>	
        <div class="clear"></div>
        <ul>
          <li class="even reply">
            <div class="commentMetaData">
              <a class="showRepliesArrow" href="#">Show Replies</a>
              <img class="userAvatar" alt="userAvatar" src="images/avatar.jpg"/>
              <span class="commentDate">Jan. 14, 2009</span>
              <span class="author">by <a href="#">james1251</a></span>
            </div>
            <div class="rating">
              <form action="#" method="post">
                <button title="Vote This Comment Up" class="thumbUp" type="submit">
                  <span>Vote This Comment Up</span>
                </button>    
              </form>  
              <span class="ratingNumber">10</span>  
            </div>
            <div class="clear"></div>
            <div class="commentContent">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut bibendum ante. Morbi risus elit, porta sit ametmattis fermentum, fringilla id augue.</p>
            </div>	
            <div class="commentFooter">
              <a href="#">Reply to This Comment</a>
              <a href="#">View 1 Reply</a>
            </div>	
            <div class="clear"></div>
            <ul>
              <li class="odd noreply">
                <div class="commentMetaData">
                  <img class="userAvatar" alt="userAvatar" src="images/avatar.jpg"/>
                  <span class="commentDate">Jan. 14, 2009</span>
                  <span class="author">by <a href="#">james1251</a></span>
                </div>
                <div class="rating">
                  <form action="#" method="post">
                    <button title="Vote This Comment Up" class="thumbUp" type="submit">
                      <span>Vote This Comment Up</span>
                    </button>    
                  </form>  
                  <span class="ratingNumber">10</span>  
                </div>
                <div class="clear"></div>
                <div class="commentContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut bibendum ante.</p>
                </div>	
                <div class="commentFooter">
                  <a href="#">Reply to This Comment</a>
                </div>	
                <div class="clear"></div>
              </li>
            </ul>
          </li>
        </ul>	
      </li>    
    </ul>    
  </div>
  <h3 class="withTip">Your Thoughts</h3>
  <p class="tip">Find something that was missing, broken, or you’d like to request other sections of this data? Please leave us a comment below.</p>
  <form action="#" method="post" id="comment">
    <label id="commentLabel">Comment</label>
    <textarea id="commentTextarea" class="textarea full" name="text" cols="32" rows="5"></textarea>
    <div id="commentReport">
      <label id="problemLabel">This Comment:</label>
      <label><input class="checkbox" type="checkbox" name="word" />Reports a Problem in the Data</label>
    </div>    
    <button title="post" class="postComment" type="submit">
      <span>Post Comment</span>
    </button>
  </form>        
</div>        
