<% content_for :title do %>
  Data Source Suggestions
<% end %>

<% content_for :body_class do %>admin<% end %>
  
<% content_for :tabs do %>
  <%= render 'admin/tabs' %>
<% end %>    

<div id="ltColumn">
  <div id="dashboardControls">
    <ul>
      <li id="deleteBtn"><a class="buttonLink" href="#">Delete</a></li>
      <li id="moveBtn">
        <a class="buttonLink" href="#">Move To</a>
        <div id="favoriteData_dropdown">
          <ul>
            <% @folders.each do |folder| -%>
            <% if folder.name != @folder_name -%>
            <li>
              <%= link_to folder.name, "#", :class => "dashboardNav folder" %>
              <span><%= folder.count %></span>
            </li>
            <% end # if -%>
            <% end # @folders.each -%>
            
            <li class="divider"></li>
            <li id="manageFolders">
              <a class="dashboardNav" href="#">Manage Folders</a>
              <div class="clear"></div>
            </li>
          </ul>    
        </div>
      </li>
    </ul>     
    <div class="clear"></div>
  </div>   
  <table id="suggestedData">
    <thead>
      <tr id="titles">
        <th id="selectTitle">Select</th>
        <th>Data Set</th>
        <th class="center">URL</th>
        <th class="right">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @suggestions.each do |suggestion| -%>
      <tr class="<%= cycle 'even','odd' %>">
        <td class="left"><input class="checkbox" type="checkbox" name="delete" value="delete"/></td>
        <td class="dataContent">
          <a class="dataName" href="#"><%= suggestion.title %></a>
          <p><%= truncate(suggestion.comments, :length => 100) %></p>
        </td>
        <td class="center">
          <%= link_to suggestion.url, suggestion.url %>
        </td>
        <td class="right"><%= suggestion.created_at.to_s(:mdy_slashed) %></td>
      </tr>
      <% end # @suggestions.each -%>
      </tr>
    </tbody>
  </table>
</div>
 
<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <div id="dashboardNav" class="module">
      <ul>
        <% @folders.each do |folder| -%>
        <li class="<%= folder.name == @folder_name %>">
          <%= link_to folder.name, admin_data_suggestions_path(:folder => folder.name), :class => "dashboardNav folder" %>
          <span><%= folder.count %></span>
        </li>
        <% end -%>
      </ul>   
      <div class="clear"></div>
    </div>
  </div>  
</div> 
<div class="clear"></div>