<% content_for :title do %>
  Search
<% end %>

<% content_for :body_class do %>browse<% end %>
  
<div id="column_fullWidth">
  <div class="detailBox">
    <form id="searchForm" action="/search" method="get">
      <label>Refine Search</label>
      <input id="term" type="text" name="term" value="<%= @term %>"/>
      <button class="searchBtn" type="submit">
        <span>Search the Catalog</span>
      </button>
    </form>
    <div class="clear"></div>  
  </div>
  
  <% if @sources.empty? -%>
  <p>No results found! Try searching again.</p>
  <% else -%>
  <div class="tableNav">
    <ul class="pagination">
      <li><a href="#">1</a></li>
    </ul>
    <div class="perPage">
      <dl>
        <dt>Results Per Page:</dt>
        <dd class="first"><a href="#">50</a></dd>
        <dd><a href="#">100</a></dd>
      </dl>
    </div>
  </div>
  <table id="browseTable">
    <thead>
      <tr id="titles">
        <th class="left">Data Set</th>
        <th class="center">Rating</th>
        <th class="center">Organization</th>
        <th class="right">Formats</th>
      </tr>
    </thead>
    <tbody>
      <% @sources.each do |source| -%>
      
      <tr class="<%= cycle 'even','odd' %>">
        <td class="dataContent left">
          <%= link_to source.title, source_path(source.slug), :class => "dataName" %>
          <button title="Favorite this data" class="iconFavorite" type="submit">
            <span>Favorite this data</span>
          </button>
          <p><%= truncate(source.description, :length => 350) %></p>
        </td>
        <td class="center">
          <ul class="star-rating rated ratedThreeStars">
            <li class="oneStar">1</li>
            <li class="twoStars">2</li>
            <li class="threeStars">3</li>
            <li class="fourStars">4</li>
            <li class="fiveStars">5</li>
          </ul>
        </td>
        <td class="center"><a href="#"><%= DataCatalog::Organization.get(source.organization_id).name %></a></td>
        <td class="right">
          <!--<ul class="downloadFormats">
            <li>
              <a href="#">XML</a>
              <span>(15MB)</span>
            </li>
            <li>
              <a href="#">CSV</a>
              <span>(15MB)</span>
            </li>
          </ul>-->
        </td>
      </tr>
      <% end # @sources.each -%>
    </tbody>
  </table>
  <div class="tableNav">
    <ul class="pagination">
      <li><a href="#">1</a></li>
    </ul>
    <div class="perPage">
      <dl>
        <dt>Results Per Page:</dt>
        <dd class="first"><a href="#">50</a></dd>
        <dd><a href="#">100</a></dd>
      </dl>
    </div>
  </div>
  
  <% end -%>
</div>       