<% content_for :title do %>
  Results for “<%= @term %>”
<% end %>

<% content_for :body_class do %>browse<% end %>

<div id="column_fullWidth">
  <div class="detailBox">
    <form id="searchForm" action="/search" method="get">
      <label>Refine Search</label>
      <input id="term" type="text" name="term" value="<%= @term %>"/>
      <button class="searchBtn" type="submit">
        <span>Search the Catalog</span>
      </button>
    </form>
    <div class="clear"></div>
  </div>

  <% if @sources.length == 0 -%>
  <p>No results found! Try searching again.</p>
  <% else -%>
  <div class="tableNav">
    <%= render 'shared/pagination', :docs => @sources %>
  </div>

  <%= render 'shared/source_table' %>

  <div class="tableNav">
    <%= render 'shared/pagination', :docs => @sources %>
  </div>

  <% end -%>
</div>       