<div id="content_tabs">
  <ul>
    <li id="nav_dataSources"><%= link_to "Data Sources", admin_sources_path, :class => "buttonLink " + active_if(:controller => ["admin/sources"]) %></li>
    <li id="nav_organizations"><%= link_to "Organizations", admin_organizations_path, :class => "buttonLink " + active_if(:controller => ["admin/organizations"]) %></li>
    <li id="nav_dataSuggestions"><%= link_to "Data Suggestions", admin_data_suggestions_path, :class => "buttonLink " + active_if(:controller => ["admin/data_suggestions"]) %></li>
    <% if current_user.admin? -%>
    <li id="nav_userAccounts"><%= link_to "User Accounts", admin_users_path, :class => "buttonLink " + active_if(:controller => ["admin/users"]) %></li>
    <% end -%>
    <li id="nav_contactSubmissions"><%= link_to "Contact Us Submissions", admin_contact_submissions_path, :class => "buttonLink " + active_if(:controller => ["admin/contact_submissions"]) %></li>
  </ul>
</div>
