<div id="content_tabs">
  <ul>
    <li id="nav_standard_signin"><a class="buttonLink" href="<%= admin_path %>">Overview</a></li>
    <li id="nav_standard_signin"><a class="buttonLink" href="<%= admin_sources_path %>">Data Sources</a></li>
    <li id="nav_standard_signin"><a class="buttonLink" href="<%= admin_data_submissions_path %>">Data Submissions</a></li>
    <li id="nav_standard_signin"><a class="buttonLink" href="<%= admin_users_path %>">User Accounts</a></li>
    <li id="nav_standard_signin"><a class="buttonLink" href="<%= admin_contact_submissions_path %>">Contact Submissions</a></li>
  </ul>    
</div>  