<% content_for :title do %>
  Link Checking Dashboard
<% end %>

<% content_for :body_class do %>admin<% end %>
<div id="column_fullWidth">
  <h3>Records With Broken Links</h3>
  <table id="recordsWithBrokenLinksTable">
    <thead>
      <tr id="titles">
        <th class="left">URL</th>
        <th class="right sort">Broken Links</th>
        <th class="left">Last Checked</th>
      </tr>
    </thead>
    <tbody>
      <tr class="even">
        <td class="left">/data/residential-parking-permit-blocks</td>
        <td class="right">3</td>
        <td class="left">2010-07-01</td>
      </tr>
      <tr class="odd">
        <td class="left">/data/weigh-in-motion-station</td>
        <td class="right">2</td>
        <td class="left">2010-07-12</td>
      </tr>
      <tr class="even">
        <td class="left">/organizations/governors-office-of-planning-and-budget</td>
        <td class="right">1</td>
        <td class="left">2010-06-23</td>
      </tr>
      <tr class="odd">
        <td class="left"><%= text_field :search_url, :search_url %></td>
        <td class="right"><%= text_field :search_top_links, :search_top_links, :size=> 10 %></td>
        <td class="left"><%= text_field :search_top_last_checked, :search_top_last_checked %></td>
        <td class="left"><%= submit_tag 'Clear Filters' %></td>
      </tr>
    </tbody>
  </table>
  <h3>Broken Links</h3>
  <table id="brokenLinksTable">
    <thead>
      <tr id="titles">
        <th class="left">Source URL</th>
        <th class="left">Broken Link</th>
        <th class="left">Destination URL</th>
        <th class="left">Last Checked</th>
        <th class="left">Time Broken</th>
        <th class="left">Error Code</th>
      </tr>
    </thead>
    <tbody>
      <tr class="even">
        <td class="left">/data/residential-parking-permit-blocks</td>
        <td class="left">field_1</td>
        <td class="left">http://broken.us</td>
        <td class="left">2010-07-01</td>
        <td class="left">2 days</td>
        <td class="left">404</td>
      </tr>
      <tr class="odd">
        <td class="left">/data/weigh-in-motion-station</td>
        <td class="left">XML</td>
        <td class="left">http://broken.us</td>
        <td class="left">2010-07-12</td>
        <td class="left">5 days</td>
        <td class="left">401</td>
      </tr>
      <tr class="even">
        <td class="left">/data/structures-lines</td>
        <td class="left">KMZ</td>
        <td class="left">http://broken.us</td>
        <td class="left">2010-06-23</td>
        <td class="left">3 days</td>
        <td class="left">500</td>
      </tr>
      <tr class="odd">
        <td class="left"><%= text_field :search_source_url, :search_source_url %></td>
        <td class="left"><%= text_field :search_bot_links, :search_bot_links, :size=> 10 %></td>
        <td class="left"><%= text_field :search_dest_url, :search_dest_url, :size=> 15 %></td>
        <td class="left"><%= text_field :search_bot_last_checked, :search_bot_last_checked, :size=> 15 %></td>
        <td class="left"><%= text_field :search_time_broken, :search_time_broken, :size=> 10 %></td>
        <td class="left"><%= text_field :search_error_code, :search_error_code, :size=> 10 %></td>
        <td class="left"><%= submit_tag 'Clear Filters' %></td>
      </tr>
    </tbody>
  </table>
</div>
