<li>
    <%= form.label :display_name, "Name" %>
    <%= form.text_field :display_name %>
</li>
<li>
    <%= form.label :email %>
    <%= form.text_field :email %>
</li>

<% if @user.openid_identifier.blank? -%>
<li>
    <%= form.label :password, form.object.new_record? ? nil : "Change Password" %>
    <%= form.password_field :password %>
</li>
<li>
    <%= form.label :password_confirmation, 'Confirm Password' %>
    <%= form.password_field :password_confirmation %>
</li>
<% end -%>

<li class="signIn_cues">
  <%= form.check_box :list_opt_in, {:class => "checkbox"} %>
  <%= form.label :remember_me, "Yes, email me updates from the Sunlight Foundation.", {:class => "inline"}  %>
</li>
