<% content_for :title do %>
  My Profile
<% end %>

<p>
  <strong>Email:</strong>
  <%=h current_user.email %>
</p>

<table>
  <tr>
    <th>Key Type</th>
    <th>Value</th>
    <th>Purpose</th>
  </tr>
  <% current_user.api_user.api_keys.each do |key| %>
  <tr>
    <td><%= key.key_type %></td>
    <td><%= key.api_key %></td>
    <td><%= key.purpose %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit Profile', edit_profile_path %>
|
<%= link_to 'Generate New API Key', new_profile_key_path %>