<% content_for :title do %>
  My Profile
<% end %>

<p>
  <strong>Email:</strong>
  <%=h current_user.email %>
</p>

<table id="keys">
  <tr>
    <th>Key Type</th>
    <th>Value</th>
    <th>Purpose</th>
    <th>Options</th>
  </tr>
  <% current_user.api_user.api_keys.each do |key| %>
  <tr class="user_keys">
    <td><%= key.key_type %></td>
    <td><%= key.api_key %></td>
    <td><%= key.purpose %></td>
    <td>
    <% unless key.key_type == "primary" -%>
      <%= link_to "Edit", edit_profile_key_path(key.id) %> | <%= link_to "Delete", profile_key_path(key.id), :method => :delete %>
    <% end -%>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit Profile', edit_profile_path %>
|
<%= link_to 'Generate New API Key', new_profile_key_path %>