<span class="dataResults"><%= pluralize(docs.length, 'result') -%></span>
<ul class="pagination">
  <% if @pages.length > 1 -%>
    <% if @page > 1 -%>
      <li class="pagination_previous"><%= link_to "&laquo; Previous",
        params.merge({ :page => @page - 1 }) -%></li>
    <% end -%>

    <% @pages.each do |p| -%>
    <li>
      <% if p.nil? -%>
        <span class="ellipsis">&#8230;</span>
      <% elsif @page == p -%>
        <%= p -%>
      <% else -%>
        <%= link_to p, params.merge({ :page => p }) -%>
      <% end -%>
    </li>
    <% end -%>

    <% if @page < docs.page_count -%>
      <li class="pagination_next"><%= link_to "Next &raquo;",
        params.merge({ :page => @page + 1 }) -%></li>
    <% end -%>
  <% end -%>

</ul>
