<ul class="pagination">
  <li>
  <%= pluralize(docs.length, 'result') -%>
  <% if @pages.length > 1 -%>
    ...
    <% if @page > 1 -%>
      <%= link_to "&laquo; Previous", "?page=#{@page - 1}" -%>
    <% end -%>
    <% @pages.each do |p| -%>
      <% if p.nil? -%>
        &middot;&middot;&middot;
      <% elsif @page == p[:number] -%>
        <%= p[:number] -%>
      <% else -%>
        <%= link_to p[:number], p[:path] -%>
      <% end -%>
    <% end -%>
    <% if @page < docs.page_count -%>
      <%= link_to "Next &raquo;", "?page=#{@page + 1}" -%>
    <% end -%>
  <% end -%>
  </li>
</ul>
