<span class="dataResults"><%= pluralize(docs.length, 'result') -%></span>
<ul class="pagination">
  
  <% if @pages.length > 1 -%>
  
    <% if @page > 1 -%>
      <li><%= link_to "&laquo; Previous", "?page=#{@page - 1}" -%></li>
    <% end -%>
    
    <% @pages.each do |p| -%>
    <li>
      <% if p.nil? -%>
        <span class="ellipsis">&#8230;</span>
      <% elsif @page == p[:number] -%>
        <%= p[:number] -%>
      <% else -%>
        <%= link_to p[:number], p[:path] -%>
      <% end -%>
    </li>
    <% end -%>
    
    <% if @page < docs.page_count -%>
      <li><%= link_to "Next &raquo;", "?page=#{@page + 1}" -%></li>
    <% end -%>
  <% end -%>
  
</ul>
