<% content_for :title do %>
  Contact Us Submissions
<% end %>

<% content_for :body_class do %>admin<% end %>

<% content_for :tabs do %>
  <%= render 'admin/tabs' %>
<% end %>

<div id="ltColumn">
  <div id="dashboardControls">
    <ul>
      <li id="deleteBtn"><a class="buttonLink" href="#">Delete</a></li>
      <li id="moveBtn">
        <a class="buttonLink" href="#">Move To</a>
        <div id="favoriteData_dropdown">
          <ul>
            <% @folders.each do |folder| -%>
            <% if folder.name != @folder_name -%>
            <li>
              <%= link_to folder.name, "#", :class => "dashboardNav folder" %>
              <span><%= folder.count %></span>
            </li>
            <% end # if -%>
            <% end # @folders.each -%>

            <li class="divider"></li>
            <li id="manageFolders">
              <a class="dashboardNav" href="#">Manage Folders</a>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
  <table id="messagesTable">
    <thead>
      <tr id="titles">
        <th id="selectTitle">Select</th>
        <th class="left">Name</th>
        <th class="left">Message</th>
        <th class="right">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @submissions.each do |submission| -%>
      <tr class="<%= cycle 'even','odd' %>">
        <td class="left"><input class="checkbox" type="checkbox" name="delete" value="delete"/></td>
        <td class="left">
        <% if user = submission.user -%>
          <%= link_to user.display_name, admin_contact_submission_path(submission), :class => "dataName" %>
        <% else -%>
          <%= link_to submission.name, admin_contact_submission_path(submission), :class => "dataName" %>
        <% end # if user -%>
        </td>
        <td class="left">
          <p><%= truncate(submission.comments, :length => 130) %></p>
        </td>
        <td class="right"><%= submission.created_at.to_s(:mdy_slashed) %></td>
      </tr>
      <% end # @submissions.each -%>
      </tr>
    </tbody>
  </table>
</div>

<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <div id="dashboardNav" class="module">
      <ul>
        <% @folders.each do |folder| -%>
        <li class="<%= folder.name == @folder_name %>">
          <%= link_to folder.name, admin_contact_submissions_path(:folder => folder.name), :class => "dashboardNav folder" %>
          <span><%= folder.count %></span>
        </li>
        <% end -%>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="clear"></div>