<% content_for :body_class do %>detail lgHeader<% end %>

<% content_for :title do %>
  <%= @source.title %> - Community Documentation
<% end %>

<%= render 'tabs' %>

<div id="ltColumn">

<% if @doc -%>
  <div class="markdowned module">
    <%= markdownize @doc.text %>
  </div>
  <div class="module">
    <h3>Have your own input?</h3>
    <p>Help us <%= link_to "edit and improve the documentation", source_edit_docs_path(@source.slug) %>.</p>
  </div>
<% else -%>
  <p>This data source doesn't have any documentation yet.</p>
  <p>Start <%= link_to "writing it", source_edit_docs_path(@source.slug) %>.</p>
<% end -%>

</div> 

<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <%= render 'sidebar_docs' %>
    <%= render 'sidebar_favorites' %>
    <%= render 'sidebar_notes' %>
  </div>
</div>