<% content_for :body_class do %>detail lgHeader<% end %>

<% content_for :title do %>
  <%= @source.title %> - Private Notes
<% end %>

<%= render 'tabs' %>

<div id="ltColumn">
  <%= show_flash_message %>
  <% @notes.each do |note| -%>
    <div class="note_module">
      <h3>Note from <%= note.created_at.to_s(:mdy_slashed) %></h3>
        <%= markdownize note.text %>
    </div>
  <% end -%>
</div>
<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <%= render 'sidebar_favorites' %>
    <%= render 'sidebar_notes' %>
  </div>
</div>