<div class="tableNav">
  <%= render 'shared/pagination', :docs => @sources %>
</div>
<table id="browseTable">
  <thead>
    <tr id="titles">
      <th class="left">Data Set</th>
      <th class="center">Rating</th>
      <th class="center">Organization</th>
      <th class="right">Formats</th>
    </tr>
  </thead>
  <tbody>
    <% @sources.page(@page).each do |source| -%>
      <tr class="<%= cycle 'even','odd' %>">
        <td class="dataContent left">
          <%= link_to source.title, source_path(source.slug), :class => "dataName" %>
          <!--<button title="Favorite this data" class="iconFavorite" type="submit">
            <span>Favorite this data</span>
          </button>-->
          <p class="clear"><%= truncate(source.description, :length => 350) %></p>
        </td>
        <td class="center">
          <%= render 'shared/star_rating', :rating => (source.rating_stats.average ? source.rating_stats.average.round : nil) %>
        </td>
        <td class="center"><%= DataCatalog::Organization.get(source.organization_id).name %></td>
        <td class="right">
          <% unless source.downloads.empty? -%>
            <ul class="downloadFormats">
              <% source.downloads.each do |download| %>
              <li>
                <a href="<%= download.url %>"><%= download.format.upcase %></a>
                <% unless download['size'].blank? %>
                  <span>(<%= download['size'] %>)</span>
                <% end %>
              </li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
    <% end # @sources.each -%>
  </tbody>
</table>    
<div class="tableNav">
  <%= render 'shared/pagination', :docs => @sources %>
</div>
