<% content_for :title do %>
  <%= @source.title %>
<% end %>

<% content_for :body_class do %>admin<% end %>

<% content_for :tabs do %>
  <%= render 'admin/tabs' %>
<% end %>

<div id="ltColumn">

<% form_for :source, @source, :url => admin_source_path(@source.id), :html => {:method => :put} do |f| -%>
  <%= show_flash_message %>
  <ul>
    <%= render 'fields', :object => f %>
    <li>
      <button class="update_admin" id="user_submit" type="submit" value="Update" name="commit">
        <span>Update</span>
      </button>
    </li>
  </ul>

<% end -%>
</div>

<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <div class="module">
      <h3>Downloads</h3>
      <ul>
        <% @source.downloads.each do |download| -%>
        <li><%= link_to download.format.upcase, edit_admin_source_download_path(@source.slug,extract_id(download.href)) %></li>
        <% end -%>
        <li><%= link_to "+ Add New +", new_admin_source_download_path(@source.slug) %></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="module">
      <h3>Public Pages</h3>
      <ul>
        <li><%= link_to "Data Details", source_path(@source.slug) %></li>
        <li><%= link_to "Community Docs", source_docs_path(@source.slug) %></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="module">
      <h3>Quick Links</h3>
      <ul>
        <li><%= link_to "Add New Source", new_admin_source_path %></li>
        <li><%= link_to "Add New Organization", new_admin_organization_path %></li>
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>