<% if current_user -%>

<%= form.hidden_field :user_id, :value => current_user %>

<% else -%>
<li>
    <%= form.label :name, "Name" %>
    <%= form.text_field :name %>
</li>
<li>
    <%= form.label :email, "Email Address" %>
    <%= form.text_field :email %>
</li>
<% end -%>
<li>
    <%= form.label :comments, "Comments" %>
    <%= form.text_area :comments %>
</li>