<% content_for :title do %>
  User Accounts : Editing <%= @user.display_name %>
<% end %>

<% content_for :body_class do %>admin<% end %>
  
<% content_for :tabs do %>
  <%= render 'admin/tabs' %>
<% end %>  

<div id="ltColumn">
  <%= show_flash_message %>  
  <div id="user_keys">
  <table id="keys">
    <tr id="titles">
      <th class="keyType left">Key Type</th>
      <th class="keyPurpose">Key/Purpose</th>
      <th class="keyOptions right">Options</th>
    </tr>
    <% @user.api_user.api_keys.each do |key| %>
    <tr class="user_keys">
      <td class="left"><%= key.key_type %></td>
      <td class="keyContent">
        <div class="key"><%= key.api_key %></div>
        <p><%= key.purpose %></p>
      </td>
      <td class="right">
        <% unless key.key_type == "primary" -%>
          <%= link_to "Delete", admin_user_key_path(@user.id, key.id), :method => :delete %>
        <% end -%>
      </td>
    </tr>
    <% end %>
  </table>
  </div>
  
</div>

<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
  <% form_for @user, :url => admin_user_path(@user.id), :method => :put do |form| %>
    <%= form.error_messages :header_message => "Uh-oh!", :message => "The following problems occurred:" %>
    <ul>
      <li>
          <%= form.label :display_name, "Name" %>
          <%= form.text_field :display_name %>
      </li>
      <li>
          <%= form.label :email %>
          <%= form.text_field :email %>
      </li>
      <% if @user.openid_identifier.blank? -%> 
      <li>
          <%= form.label :password, form.object.new_record? ? nil : "Change Password" %>
          <%= form.password_field :password %>
      </li>
      <li>
          <%= form.label :password_confirmation, 'Confirm Password' %>
          <%= form.password_field :password_confirmation %>
      </li>
      <% end -%>
      <li>
          <%= form.label :openid_identifier, 'OpenID URL' %>
          <%= form.text_field :openid_identifier, :readonly => "readonly" %>
      </li>
      <p class="tip">OpenID must be edited by user.</p>
      <li>
          <%= form.check_box :curator, :checked => @user.curator? %>&nbsp;Curator?
      </li>
      
      <button class="update" id="user_submit" type="submit" value="Update" name="commit">
        <span>Update</span>
      </button>
    </ul>
  <% end %>
  
  <div class="clear"></div>
  </div>
</div>
