<% content_for :title do %>
  Sign In
<% end %>

<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  
  <%= f.label :openid_identifier, 'OpenID URL' %>
  <%= f.text_field :openid_identifier %>
  
  <h3>Or the lame way...</h3>
  
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.check_box :remember_me, {:class => "inline"} %>
  <%= f.label :remember_me, "Remember?", {:class => "inline"}  %>

  <%= f.submit "Sign In" %>
<% end %>