<% content_for :title do %>
  Sign In
<% end %>

<% form_for @user_session, :url => user_session_path, :id => "" do |f| %>
  <%= f.error_messages custom_error_messages %>
  
  <ul id="dataMetaData">

    <li>
      <%= f.label :openid_identifier, 'OpenID URL' %>
      <%= f.text_field :openid_identifier %>
    </li>
  
  </ul>
  <%= f.submit "Sign In Via OpenID" %>

  <ul id="dataMetaData">

    <li>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </li>
    
    <li>  
      <%= f.label :password %>
      <%= f.password_field :password %>    
    </li>
  
    <li>  
      <%= f.check_box :remember_me, {:class => "inline"} %>
      <%= f.label :remember_me, "Remember?", {:class => "inline"}  %>
    </li>
    
  </ul>
  <%= f.submit "Sign In" %>


<% end %>