<div id="header">
  <h1><%= link_to "National Data Catalog", root_path %></h1>
  <div id="utility">
    <ul>
    <% if current_user -%>
      <li id="utilityRegister"><%= link_to "Admin", admin_path %></li>
      <li id="utilityRegister"><%= link_to "Account Settings", profile_path %></li>
      <li id="utilitySignup"><%= link_to "Sign Out", signout_path %></li>
    <% else -%>
      <li id="utilityRegister"><%= link_to "Sign Up", signup_path %></li>
      <li id="utilitySignup"><%= link_to "Sign In", signin_path %></li>
    <% end -%>
    </ul> 
    <form id="searchForm" action="." method="get">
      <input id="id_skills" type="text" name="skills"/>
      <button class="searchBtn" type="submit">
        <span>Search the Catalog</span>
      </button>
    </form>
    <div class="clear"></div>
    <%= link_to "Advanced Search", search_path , :class => "advancedSearch_link" %>
  </div>

  <div id="nav">
    <ul>
      <li id="nav_dashboard"><%= link_to "Dashboard", dashboard_path, :class => active_if(:action => ["dashboard"]) %></li>
      <li id="nav_browse"><%= link_to "Browse", browse_path, :class => active_if(:controller => ["browse"]) %></li>
      <li id="nav_suggest"><%= link_to "Submit", submit_path, :class => active_if(:controller => ["submit"]) %></li>
    </ul>
  </div>
</div>