<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= yield(:title) %> | National Data Catalog</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'application' %>
    
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      
      <div id="user_nav">
        <% if current_user %>
          <%= link_to "Edit Profile", edit_profile_path %> |
          <%= link_to "Sign Out", signout_path %>
        <% else %>
          <%= link_to "Sign Up", signup_path %> |
          <%= link_to "Sign In", signin_path %>
        <% end %>
      </div>
      
      <%- if show_title? -%>
        <h1><%= h yield(:title) %></h1>
      <%- end -%>
      
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%= yield %>
      
      <div id="footer">
        <p><a href="/">Home</a> | <a href="http://groups.google.com/group/datacatalog">Google Group</a> | <a href="http://sunlightlabs.com">Sunlight Labs</a></p>
        <p>This design is intentionally spartan. Don't dwell on it.</p>
      </div>
    </div>
  </body>
</html>
