<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title><%= yield :title %> | National Data Catalog</title>
  
  <%= stylesheet_link_tag 'main' %>
  <!--[if IE 6]><link rel="stylesheet" href="buggy.css" type="text/css" media="screen" /><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="buggy7.css" type="text/css" media="screen" /><![endif]-->

  <%= yield :head %>
</head>

<body class="<%= yield :body_class %>">
  
  <div id="headerWrapper">

    <div id="pageMain">
      <%= render 'layouts/header'  %>
      <%= render 'layouts/content' %>
    </div>

    <div class="clear"></div>
    <%= render 'layouts/footer' %>

  </div>
  
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jquery.tools', 'application' %>
</body>
</html>                     